.weak { background-color: #f87171; }      /* red-400 */
.good { background-color: #fb923c; }      /* orange-400 */
.medium { background-color: #facc15; }    /* yellow-400 */
.verygood { background-color: #4ade80; }  /* green-400 */
.strong { background-color: #16a34a; }    /* green-600 */
